apache-beam==2.48.0
apache-flink==1.18.1
apache-flink-libraries==1.18.1
avro-python3==1.10.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
cloudpickle==2.2.1
confluent-kafka==2.3.0
crcmod==1.7
dill==0.3.1.1
dnspython==2.5.0
docopt==0.6.2
Faker==22.5.0
fastavro==1.9.3
fasteners==0.19
find-libpython==0.3.1
grpcio==1.60.0
hdfs==2.7.3
httplib2==0.22.0
idna==3.6
Jinja2==3.1.3
MarkupSafe==2.1.4
numpy==1.24.4
objsize==0.6.1
orjson==3.9.12
pandas==2.0.3
pemja==0.3.0
proto-plus==1.23.0
protobuf==4.23.4
psycopg==3.1.17
psycopg-binary==3.1.17
py4j==0.10.9.7
pyarrow==11.0.0
pydot==1.4.2
pymongo==4.6.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
regex==2023.12.25
requests==2.31.0
six==1.16.0
typing-extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
zstandard==0.22.0
